*{ box-sizing: border-box; }

body{margin: 0px; padding: 0px; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*='col-']{
    float: left;
    border: 1px solid red;
}
.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
}

.header-height{ height: 200px; }
.menu-height{ height: 50px; }
.content-height{ height: 650px; }
.big-footer-height{ height: 250px; }
.footer-height{ height: 50px; }

@media screen and (max-width: 480px){
    [class*='col-']{
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 780px) {
    .col-s1 { width: 8.33%; }
    .col-s2 { width: 16.66%; }
    .col-s3 { width: 25%; }
    .col-s4 { width: 33.33%; }
    .col-s5 { width: 41.66%; }
    .col-s6 { width: 50%; }
    .col-s7 { width: 58.33%; }
    .col-s8 { width: 66.66%; }
    .col-s9 { width: 75%; }
    .col-s10 { width: 83.33%; }
    .col-s11 { width: 91.66%; }
    .col-s12 { width: 100%; }

    .test{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .row{
        position: relative;
    }
    .sidebar{ display: none; }
}