*{ box-sizing: border-box; }
body{
    margin: 0px;
    padding: 0px;
}
.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-']{
    float: left;
    /*border: 1px solid gray;*/
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
}

.header-top-height{ height: 40px; }
.header-height{ height: 200px; }
.menu-height{ height: 50px; }
.slider-height{ height: 400px; }
.content-height{ height: 650px; }
.big-footer-height{ height: 200px; }
.footer-height{ height: 40px; }

@media screen  and (max-width: 400px){
    [class*='col-']{
        width: 100%;
    }
}
.info{
    float: left;
    padding-right: 2px;
    padding-top: 2px;
}

.login a{
    float: right;
    padding-right: 2px;
    margin: 2px;
    text-decoration: none;
}

.img{
    height: 100%;
    width: 100%;
}

.welcome{
    text-align: center;
    margin-top: 50px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-shadow: 0px 5px 5px chartreuse;
}

.search{
    margin-left: 30%;
    margin-top: 10px;
    width: 33%;
    height: 25px;
}
.search:focus{
    box-shadow: 0px 0px 3px 3px chartreuse;
}

.btn{
    height: 25px;
}

.main-ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main-li{
    border: 1px solid red;
    background-color: black;
    float: left;
    width: 20%;
}

.main-li a{
    height: 46px;
    text-align: center;
    padding-top: 13px;
    display: block;
    text-decoration: none;
    color: white;
    transition: 2s;
}
.main-li a:hover{
    background-color: white;
    color: red;
}
.second-li a{
    position: relative;
    text-decoration: none;
    display: none;
    border: 1px solid red;
    background-color: black;
}
.main-li:hover .second-li a{
    display: block;
}

@keyframes slider {
    0%{ background-image: url("../Images/bd-deer.jpg"); }
    25%{ background-image: url("../Images/days-in-colours-Logo-1.png"); }
    50%{ background-image: url("../Images/images.jpg"); }
    75%{ background-image: url("../Images/maxresdefault.jpg"); }
    100%{ background-image: url("../Images/Sajek-Valley-Rangamati-Bangladesh-1.jpg"); }
}
.slider{
    background-size: 100% 100%;
    animation-name: slider;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.pad{
    padding: 2px 5px;

}
.img-content{
    border-left: 5px solid chartreuse;
    float: left;
}
.img-content:hover{
    box-shadow: 0px 0px 2px 2px gray;
}

.img-c{
    height: 200px;
    width: 100%;
}
.img-content h2{
    text-align: center;
}
.img-content p{
    text-align: justify;
    padding: 2px;
}
.img-content a{
    float: right;
    background-color: green;
    color: white;
    padding-right: 5px;
    margin-bottom: 5px;
}

.bf{
    text-align: center;
    padding-top: 100px;
    background-color: black;
    color: white;
}
.bf:hover{
    box-shadow: 0px 0px 5px 5px gray;
}