*{ box-sizing: border-box; }

body{
    margin: 0px;
    padding: 0px;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-'] {
    float: left;
    border: 1px solid gray;
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
}

.header-height{ height: 250px; }
.menu-height{ height: 50px; }
.content-height{ height: 1000px; }
.footer-height{ height: 50px; }

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul li{
    float: left;
    width: 120px;
}
ul li a{
    text-decoration: none;
    border: 1px solid gray;
    height: 48px;
    padding: 15px;
    text-align: center;
    display: block;
    background-color: black;
    color: white;
}