*{ box-sizing: border-box; }

body{
    margin: 0px;
    padding: 0px;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-']{
    float: left;
    border: 1px solid red;
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
}

.header-top-height{ height: 40px; }
.header-height{ height: 250px; }
.menu-height{ height: 50px; }
.content-height{ height: 650px; }
.big-footer-height{ height: 300px; }
.footer-height{ height: 50px; }

ul{
    margin: 0px;
    padding: 0px;
}
ul li{
    float: left;
    width: 20%;
    list-style-type: none;
    border: 1px solid red;
}
ul li a{
    display: block;
    height: 46px;
    text-decoration: none;
    text-align: center;
    padding-top: 13px;
    background-color: black;
    color: white;
}




@media screen and (max-width: 500px){
    [class*='col-']{
        width: 100%;
    }
}

@media screen and (min-width: 501px) and (max-width: 788px){
    .col-m1{ width: 8.33%; }
    .col-m2{ width: 16.66%; }
    .col-m3{ width: 25%; }
    .col-m4{ width: 33.33%; }
    .col-m5{ width: 41.66%; }
    .col-m6{ width: 50%; }
    .col-m7{ width: 58.33%; }
    .col-m8{ width: 66.66%; }
    .col-m9{ width: 75%; }
    .col-m10{ width: 83.33%; }
    .col-m11{ width: 91.66%; }
    .col-m12{ width: 100%; }
}