*{box-sizing: border-box; }
.div-1{
    width: 350px;
    margin: 100px;
    border: 2px solid red;
    float: left;
}
.dengu{
    height: 100px;
    width: 150px;
    padding-right: 5px;
    float: left;
}
.div-1:hover{
    box-shadow: 0px 0px 10px 10px gray;
}
.test1{
    float: right;
    padding: 10px;
    background-color: black;
    color: white;
}
h2{
    text-align: center;
    color: red;
}